/1Password.lnk
/5E对战平台.lnk
/Adobe Photoshop CC 2017.lnk
/Battle.net.lnk
/B站彈幕姬.appref-ms
/desktop.ini
/Excel.lnk
/Google Chrome.lnk
/HLAE.lnk
/NVI_0_3_135_370_0_101_1.lnk
/Origin.lnk
/osu!.lnk
/PowerPoint.lnk
/QQ游戏.lnk
/Resolve.lnk
/Rin.lnk
/Steam.lnk
/Telegram.lnk
/Uplay.lnk
/Visual Studio Code.lnk
/WeGame.lnk
/Word.lnk
/WPS Office.lnk
/YY语音.lnk
/~$g胖.pptx
/待办
/游戏加加.lnk
/百度网盘.lnk
/稻壳阅读器.lnk